---
layout: page
title: "Gyanendra Mishra"
subtitle: Software Engineer / Backpacker / Craftsman
css: "/css/index.css"
meta-title: "Gyanendra Mishra"
meta-description: "Hi I am Gyanendra and I have done a Bachelors in Computer Science from BITS Pilani. I love to program. I am interested in information security and software development. I go by @h4ck3rk3y on github and by gyani everywhere else."
bigimg:
  - "/img/blog/nepal/abc.jpg": "Annapurna Base Camp, Nepal (2016)"
  - "/img/blog/nepal/fewatal.jpg": "Fewa Tal, Pokhara, Nepal (2016)"
  - "/img/big-imgs/phongnha.jpg" : "Phong Nha Ke Bang, Vietnam (2015)"
  - "/img/big-imgs/bangkok.jpg" : "Bangkok, Thailand (2016)"
  - "/img/big-imgs/trolltunga.jpg" : "Trolltunga, Norway (2014)"
  - "/img/big-imgs/siemreap.jpg" : "Siem Reap, Cambodia (2015)"
  - "/img/big-imgs/andamans.jpg" : "Andaman Islands, India (2014)"
  - "/img/big-imgs/tsangpo.jpg" : "Ladakh, India (2015)"
  - "/img/big-imgs/nhatrang.jpg" : "Nha Trang, Vietnam (2015)"
  - "/img/big-imgs/penh.jpg" : "Phnom Penh, Camobdia (2015)"
  - "/img/big-imgs/kuangsi.jpg" : "Luang Prabang, Laos (2016)"
  - "/img/big-imgs/Santorini.jpg": "Sunset at Oia, Santorini, Greece (2016)"
  - "/img/big-imgs/Pantheon.jpg": "Pantheon, Athens, Greece (2016)"
  - "/img/blog/dharamsala/rainbow.jpg": "Triund, Dharamsala, India (2016)"
  - "/img/blog/danube.jpg": "Budapest, Hungary (2017)"
  - "/img/blog/welcome_melaka.jpg": "Melaka, Malasyia (2017)"
  - "/img/blog/buckingham.jpg": "Buckingham Palace, London, UK (2017)"
  - "/img/blog/schnitzel.jpg": "Weiener Schnitzel, Austria, Vienna (2017)"
  - "/img/blog/north-east/brahmaputra.jpg": "Brahmaputra River, Tezpur, Assam, India (2017)"
  - "/img/blog/north-east/root.jpg": "Root Bridge, Mawlynnong, Meghalya, India (2017)"


---

<div class="index-posts-title">Blog</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
