---
layout: page
title: "Gyanendra Mishra"
subtitle: "Δ @ Palantir"
meta-title: "Gyanendra Mishra"
meta-description: "Software engineer at Palantir. Writing about code, travel, and everything in between. Based in London."
bigimg:
  - "/img/blog/nepal/abc.jpg": "Annapurna Base Camp, Nepal"
  - "/img/blog/nepal/fewatal.jpg": "Fewa Tal, Pokhara, Nepal"
  - "/img/big-imgs/phongnha.jpg" : "Phong Nha Ke Bang, Vietnam"
  - "/img/big-imgs/bangkok.jpg" : "Bangkok, Thailand"
  - "/img/big-imgs/trolltunga.jpg" : "Trolltunga, Norway"
  - "/img/big-imgs/siemreap.jpg" : "Siem Reap, Cambodia"
  - "/img/big-imgs/andamans.jpg" : "Andaman Islands, India"
  - "/img/big-imgs/tsangpo.jpg" : "Ladakh, India"
  - "/img/big-imgs/nhatrang.jpg" : "Nha Trang, Vietnam"
  - "/img/big-imgs/penh.jpg" : "Phnom Penh, Cambodia"
  - "/img/big-imgs/kuangsi.jpg" : "Luang Prabang, Laos"
  - "/img/big-imgs/Santorini.jpg": "Sunset at Oia, Santorini, Greece"
  - "/img/big-imgs/Pantheon.jpg": "Pantheon, Athens, Greece"
  - "/img/blog/dharamsala/rainbow.jpg": "Triund, Dharamsala, India"
  - "/img/blog/danube.jpg": "Budapest, Hungary"
  - "/img/blog/welcome_melaka.jpg": "Melaka, Malaysia"
  - "/img/blog/buckingham.jpg": "Buckingham Palace, London, UK"
  - "/img/blog/schnitzel.jpg": "Vienna, Austria"
  - "/img/blog/north-east/brahmaputra.jpg": "Brahmaputra River, Assam, India"
  - "/img/blog/north-east/root.jpg": "Root Bridge, Meghalaya, India"
  - "/img/big-imgs/windermere.jpg": "Lake Windermere, England"
---

<div class="index-posts-title">Writing</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <p class="post-subtitle">{{ post.subtitle }}</p>
      {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape }}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read more</a>
    </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
