<footer>
  <div class="footer-inner">

    <ul class="footer-links">

      {% if site.author.email and site.footer-links-active.email %}
      <li>
        <a href="mailto:{{ site.author.email }}?subject=Hello from {{ site.url-pretty }}" title="Email">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.github and site.footer-links-active.github %}
      <li>
        <a href="https://github.com/{{ site.author.github }}" title="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.twitter and site.footer-links-active.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter / X">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.linkedin and site.footer-links-active.linkedin %}
      <li>
        <a href="https://linkedin.com/{{ site.author.linkedin }}" title="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.facebook and site.footer-links-active.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.author.facebook }}" title="Facebook">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.stackoverflow and site.footer-links-active.stackoverflow %}
      <li>
        <a href="https://stackoverflow.com/{{ site.author.stackoverflow }}" title="Stack Overflow">
          <i class="fa-brands fa-stack-overflow"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.tumblr and site.footer-links-active.tumblr %}
      <li>
        <a href="https://{{ site.author.tumblr }}.tumblr.com" title="Tumblr">
          <i class="fa-brands fa-tumblr"></i>
        </a>
      </li>
      {% endif %}

      {% if site.footer-links-active.rss %}
      <li>
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS Feed">
          <i class="fa-solid fa-rss"></i>
        </a>
      </li>
      {% endif %}

    </ul>

    <p class="footer-copyright">
      &copy; {{ site.author.name }} &bull; {{ site.time | date: '%Y' }}
      {% if site.author.email %}
      &bull; <a href="mailto:{{ site.author.email }}?subject=Hello from {{ site.url-pretty }}">{{ site.author.email }}</a>
      {% endif %}
    </p>

  </div>
</footer>
