{%- comment -%}
  Google Analytics removed - Universal Analytics (analytics.js) was deprecated July 2023.
  If you want to add analytics back, use Google Analytics 4 (GA4) with gtag.js:
  
  {% if site.google_analytics_4 %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_4 }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics_4 }}');
  </script>
  {% endif %}
{%- endcomment -%}
